<template name="AdminNavigation">
    <div class="ui menu vertical small" style="width: 70px; font-size: 20px;">
        <a href="/a" class="item" title="{{_ "admNavHomeBtn"}}"><i class="fa fa-home large"></i></a>
        <a href="/a/brewhouse" class="item" title="{{_ "admNavBrewhouseBtn"}}"><i class="fa fa-bank"></i></a>
        <a href="/a/recipe" class="item" title="{{_ "admNavRecipeBtn"}}"><i class="fa fa-map-o"></i></a>
        <a href="/a/batch" class="item" title="{{_ "admNavBatchBtn"}}"><i class="fa fa-cubes"></i></a>
        <a href="/a/inventory" class="item" title="{{_ "admNavInventoryBtn"}}"><i class="fa fa-shopping-basket"></i></a>
        <a href="/a/mod" class="item" title="Mod"><i class="fa fa-modx"></i></a>
        <a href="/a/user" class="item" title="{{_ "admNavUserBtn"}}"><i class="fa fa-user"></i></a>
        <a href="/a/yeast" class="item" title="Yeast"><i class="fa fa-book"></i></a>
        <a href="/a/notes" class="item" title="Notes"><i class="fa fa-pencil"></i></a>
        <a href="/a/calendar" class="item" title="Calendar"><i class="fa fa-calendar"></i></a>
        <a href="/a/mash_performance" class="item" title="Settings"><i class="fa fa-bar-chart"></i></a>
        <a href="/a/settings" class="item" title="{{_ "admNavSettingsBtn"}}"><i class="fa fa-cog"></i></a>
        <a href="/" class="item" title="{{_ "admNavLogOutBtn"}}"><i class="fa fa-sign-out "></i></a>
    </div>
</template>